@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.font-outline {
  display: inline-block;
  border-radius: 0px;
  opacity: 1;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000, 0 -1px 1px #000, 1px 1px 1px #000,
    -1px 0 0 #000, 1px 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000;
}
.font-hover{
  text-shadow: none!important;
}

/*  animation: underlineGrow 1s ease-in-out forwards;*/
  .underlined-text {
    text-decoration: underline;
    text-underline-offset: 14px;
    text-decoration-thickness: 4px;
    transition: text-underline-offset 0.5s, text-decoration-thickness 0.5s;
  }
  
  .underlined-text:hover {
    animation:underlineGrow 0.2s ease-in-out forwards;
  }

@keyframes underlineGrow {
  from {
    text-underline-offset: 12px;
    text-decoration-thickness: 4px;
  }
  to {
    text-underline-offset: 9px; /* Adjust this value to control the offset distance on hover */
    text-decoration-thickness: 9px; /* Adjust this value to control the thickness on hover */
  }
}
.fade-in {
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in-fast {
  animation: fadeIn 0.5s;
}
.fade-in-slow {
  animation: fadeIn 4s;
}
.pt-page-moveFromRight {
  -webkit-animation: moveFromRight 0.6s ease both;
  animation: moveFromRight 0.6s ease both;
}
@keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
